# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/laundry_service
# Hoặc dùng MongoDB Atlas:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/laundry_service

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d

# Upload
UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880

# VNPay (Sandbox)
VNPAY_TMN_CODE=your_vnpay_tmn_code
VNPAY_HASH_SECRET=your_vnpay_hash_secret
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:5000/api/payments/vnpay-return

# Client URL (để CORS)
CLIENT_URL=http://localhost:3000

# Roboflow AI Model
ROBOFLOW_API_KEY=your_roboflow_api_key
ROBOFLOW_MODEL_ID=carelabelsfind-8qu5r/2

# VietQR & SePAY (Thanh toán chuyển khoản ngân hàng cá nhân tự động)
VIETQR_BANK_ID=BIDV
VIETQR_ACCOUNT_NO=3144492536
VIETQR_ACCOUNT_NAME=NGUYEN VAN SANG
VIETQR_TEMPLATE=compact2
SEPAY_WEBHOOK_API_KEY=whsec_fTWLc6r2Z3Y4kDj33yF6POA17n6SLdxO


